<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Titre</label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="newLivre.title">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Affiche</label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="newLivre.affiche">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Etat</label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="newLivre.Stock">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Date</label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="newLivre.date">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Synopsis</label>
            <br>
            <textarea name="" id="" cols="30" rows="10" class="form-control" [(ngModel)]="newLivre.synopsis"></textarea>
        </div>
    </div>
</div>

<div class="text-center"><button class="btn btn-outline-success" (click)="onSaveLivre()">Envoyer</button></div>